<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>安徽省</key>
	<array>
		<dict>
			<key>name</key>
			<string>合肥</string>
			<key>url</key>
			<string>http://www.taobao.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滁州</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
	</array>
	<key>湖南省</key>
	<array>
		<dict>
			<key>name</key>
			<string>湘潭</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>长沙</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>株洲</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
	</array>
	<key>广东省</key>
	<array>
		<dict>
			<key>name</key>
			<string>广州</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>东莞</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>中山</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江门</string>
			<key>url</key>
			<string>http://www.baidu.com</string>
		</dict>
	</array>
</dict>
</plist>
