<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>广东省</key>
	<array/>
	<key>New item</key>
	<string>广州</string>
	<key>New item - 5</key>
	<string>东莞</string>
	<key>New item - 4</key>
	<string>深圳</string>
	<key>New item - 3</key>
	<string>珠海</string>
	<key>New item - 2</key>
	<string>中山</string>
	<key>New item - 6</key>
	<string>江门</string>
</dict>
</plist>
